<div class="mdl-grid">
  
  <!-- Chart -->
  <div id="chart" class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Task Status</h2>
    </div>
  </div>
  <!-- Filters -->
  <div class="mdl-card mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
    
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Filters</h2>
    </div>
    <ul class="mdl-list">
      <% for (var i = 0; i < filterFields.length; i++) { %>
      
      <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon"><%= filterFields[i].icon %></i>
          <%- filterFields[i].template(filterFields[i]) %>
        </span>
      </li>
      
      <% } %>
    </ul>
  </div>
  
  <!-- Summary -->
  <div class="mdl-card mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Summary</h2>
    </div>
    <ul class="mdl-list">

      <% for (var i = 0; i < summaryFields.length; i++) { %>
        <%- summaryFields[i].template(summaryFields[i]) %>
      <% } %>

    </ul>
  </div>
</div>