<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
  <select id="profile_information_form_country_id" name="profile_information_form_country" class="mdl-selectfield__select" required>

    <% for (var i = 0; i < selectList.length; i++) { %>
      <option value="<%= i %>"><%= selectList[i] %></option>
    <% } %>
  
  </select>
  <label for="profile_information_form_country_id" class="mdl-selectfield__label"><%= name %></label>
  <span class="mdl-selectfield__error">Please select a <%= name %>!</span>
</div>
<!-- <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button> -->