<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	<input id="<%= id %>" class="mdl-textfield__input textfield-readonly" type="text" value="<%= value %>" readonly>
	<label class="mdl-textfield__label" for="<%= id %>"><%= name %></label>
</div>