<li class="mdl-list__item mdl-list__item--two-line">
  <span class="mdl-list__item-primary-content">
    <span id="<%= id %>"><%= value() || "0" %></span>
    <span class="mdl-list__item-sub-title"><%= name %></span>
  </span>
</li>