
@import 'color-definitions';

// jyve color
$layout-drawer-width: 280px;
$color-primary: '230,50,36';

@import 'material-design-lite';
@import 'overrides';

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

